nav{
    position: fixed;
    background-color: #005585;
    margin-bottom: 10px;
    width: 100%;
    z-index: 1000;
}

.nav-container{
    display: flex;
}

.logo-container{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.text-nova{
    color: #fff;
}

.text-shop{
    color: #00E0FF;
}

.menu{
    display: flex;
    align-items: center;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    float: left;
    margin-right: 80px;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
}

.logo-container a:hover{
    border: 1px solid transparent;
    background-color: transparent;
}

li:hover, a:hover{
    border-radius: 50px;
    background-color: #0086D2;
    cursor: pointer;
}

.content-search{
    width: 35%;
    display: flex;
    align-items: center;
}

div input.search{
    width: 100%;
    height: 30%;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: 0 none;
}

.user{
    display: flex;
    align-items:center;
    margin-left: 7%;
}

button{
    margin-left: 10px;
    background-color: #0086D2;
    border: .1rem solid transparent;
    border-radius: 35px;
    cursor: pointer;
    padding: 10px;
    color: white;
}

button:active, li:active, a:active{
    background-color: rgb(0, 100, 150);
}

div.user a{
    border-bottom: 1px solid transparent;
    transition: .5s;
}

div.user a:hover {
    background-color: transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.alert{
    background-color: #11181e;
    padding: 0;
    color: white;
    text-align: center;
    font-size: small;
}
